<footer class="footer">
  <div class="footer-content">
    <ul class="footer-contact">
      <li>
        <strong>Email:</strong>
        <a href="mailto:PrzemekTGK@gmail.com">PrzemekTGK@gmail.com</a>
      </li>
      <li>
        <strong>Mobile:</strong>
        <a href="tel:+353857503266">+353 85 750 3266</a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/przemek-stepien-985aa7a3/"
          target="_blank"
          rel="noopener noreferrer"
        >
          LinkedIn
        </a>
      </li>
    </ul>
  </div>
</footer>
