<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="#" data-page="About"> Przemek Stepien </a>

  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="collapse navbar-collapse justify-content-end"
    id="navbarSupportedContent"
  >
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#" data-page="About">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" data-page="Skills">Skills</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" data-page="Education">Education</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" data-page="Employment">Employment</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" data-page="Projects">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" data-page="Interests">Interests</a>
      </li>
    </ul>
  </div>
</nav>
